<html>
    <head>
        <title>WEBfolio</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <b>WEBfolio</b>
                <p>My Web Design Portfolio</p>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">about me</a></li>
                    <li><a href="#">works</a></li>
                    <li><a href="#">resume</a></li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            <div class="firstBlock">
                <div class="dot"><p>“</p></div>
                <div class="firstText"><p>Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry.</p></div>
                    <hr>
                <div class="imgZero"></div>
            </div>
            <div class="secondBlock">
               
                <div class="secondText"><p>Portfolio</p></div>
                    <div class="firstLine">
                        <div class="imgFirst"></div>
                        <div class="imgSecond"></div>
                        <div class="imgThird"></div>
                        <div class="imgFourth"></div>
                    </div>
                    <div class="secondLine">
                <div class="imgFifth"></div>
                <div class="imgSixth"></div>
                <div class="imgSeventh"></div>
                <div class="imgEighth"></div>
            </div>
            <div class="thirdLine">
                <div class="imgNineth"></div>
                <div class="imgTenth"></div>
                <div class="imgEleventh"></div>
                <div class="imgTwelveth"></div>
            </div>
            </div>
            </div>
            <footer>
                <p>©Lorem Ipsum</p>
                <p>Contact me 80445698569</p>
               
            </footer>
      
    </body>
</html>